
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: 	#FFEFD5;
    color: #660099;
    font-size: 1.5rem;
    font-family: 'Rum Raisin', sans-serif !important;
}

body footer {
    font-size: 1rem;
    margin-top: 3rem;
}

 .active {
    color: red;
}

 .indexlink{
     text-decoration: none;
 }

/*Klasy dla komponentu App*/
.template-container{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding-top: 3vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotation {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.quotation-author {
    font-size: 0.80rem;
}

.logo {
    height: 15vh;
    width: 10vw;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/*Klasy dla komponentu Main*/

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.counter {

}

/*Klasy dla komponentu DatePicker*/

.date-picker {
    display:flex;
    flex-direction: column;
}

.date-picker-info {
    margin-bottom: 15px;
}

/*Klasy dla komponentu Counter*/

.deadline-timer-container {
    display: flex;
    font-size: 1rem;
}

.deadline-days {
    padding: 15px;
}

.deadline-hours{
    padding: 15px;
}

.deadline-minutes {
    padding: 15px;
}

.deadline-seconds {
    padding: 15px;
}

.showdate {
    font-size: 1.25rem;
    margin-top: 0.75rem;
    text-decoration: underline;
}

/*Klasy dla komponentu Menu*/

.menu-list {
    list-style-type: none;
    display: flex;
}

.menu-list li {
    padding: 1rem;
}

/*Klasy dla komponentu User*/

.user-container {
    display: flex;
    flex-direction: column;
}

.user-pic {
    background-image: url("../images/wedd-couple.png");
    height: 25vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2vh 2vh;
}

.user-name {

}

/*klasy dla komponentu Notes*/

.new-note {
    font-size: 0.75rem;
    min-height: 5rem;
    max-width: 10rem;
    border: 0.2rem solid red;
    background-color: #fff;
    overflow: scroll;
    font-family: 'Caveat', cursive,sans-serif!important;
    word-break: break-all;
    color: black;
}

.text-field {
    margin: 1rem;
    height: auto;
}

.notes-list{
    display: flex;
}

.notes-list li{
    font-size: 0.75rem;
    margin: 0.25rem;
    height: 5rem;
    width: 10rem;
    border: 0.2rem solid greenyellow;
    background-color: #fff;
    overflow: auto;
    font-family: 'Caveat', cursive,sans-serif!important;
    word-break: break-all;
    color: black;
}

/*Klasy dla komponentu Tasks*/

.tasks-container{
    display: flex;
    align-items: center;
    justify-content: center
}

ul .tasks-items{
    margin-left: 1.5rem;
}

.tasks-items {
    font-size: 0.75rem;
}

.tasks-checkbox{
    margin: 0.25rem;
    cursor:pointer;
}

.adding-tasks{
    margin-top: 1rem;
    font-size: 1.25rem;
    text-decoration: underline;
}